@charset "UTF-8";

header {
	background: rgba(0, 0, 0, 0.8);
	height: 110px;
	width: 100%;
}

.header-left {
	width: 30%;
	float: left;
	height: 100%;
}

.position-center{
	position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forum-logo {
	font-size: 40pt;
	font-family: 'Cutive Mono', monospace;
	margin: auto;
	text-align: center;
	color: #6b5b95;
	margin: auto;
	position: relative;
}

.header-right {
	height: 100%;
	float: left;
	width: 70%;
	width: 70%;
}

.right-upper-part:after {
	display: block;
	content: "";
	clear: both;
}

.select-basic {
	height: 25px;
	background-color: #262626;
	border: 1px solid #6b5b95;
	outline: none;
	color: #757575;
}

.lang-select{
	width: 100px;
}

.lang-select-block {
	float: right;
	margin: 5px 5px 5px 5px;
}

.user-auth-block {
	clear: both;
	margin: 10px 0 0 0;
	text-align: center;
}

.input-focuse:hover {
	border-color: #6042ae;
}

.input-focuse:focus {
	border-color: #6042ae;
	box-shadow: 0px 0px 100px 2px #6042ae;
}

.button-focuse {
	transition: 0.2s;
}

.button-focuse:hover {
	border-color: #6042ae;
	box-shadow: inset 0px 0px 10px 0px #6042ae;
}

.text-input {
	line-height: 20px;
	height: 18px;
	padding: 5px;
	border: 1px solid #6b5b95;
	outline: none;
	transition: 0.3s;
	background-color: #262626;
	color: #f0ead6;
}

.submit-button {
	line-height: 18px;
	background-color: #262626;
	outline: none;
	border: 1px solid #6b5b95;
	padding: 5px;
	height: 30px;
	width: 100px;
	color: #757575;
}

.link-button {
	display: inline-block;
	border: 1px solid #6b5b95;
	background-color: #262626;
	text-decoration: none;
	padding: 5px;
	color: #757575;
	height: 18px;
	width: 95px;
	font-family: Arial;
	font-size: 13.333px;
	line-height: 18px;
}

.sign-up-link {
	margin: 0 0 0 5px;
}

.user-info-block{
	text-align: right;
}
.name-surname{
	float: left;
	width: 500px;
	height: 50px;
	margin: 0 10px 0 0;
}
.user-info-text{
	display: inline-block;
	color: #f0ead6;
	position: relative;
  top: 50%;
  transform: translate(0, -50%);
	
}

.user-photo{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid #6b5b95;
	display: block;
	float: left;
}

.right-buttons-container{
	display: block;
  float: left;
  height: 52px;
  margin: 0 0 0 20px;
}

.sign-out-button{
	text-align: center;
	position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.under-header-links-part{
	height: 20px;
	margin: 5px 0 5px 0;
	padding: 0 40px 0 40px;
	background: rgba(0, 0, 0, 0.8);
}

.under-header-links-part a{
	color: #f0ead6;
	text-decoration: none;
}

.under-header-links-part a:hover {
	text-decoration: underline;
}

.under-header-links-part a:last-child {
	color: gray;
}

.under-header-links-part a:last-child:hover {
	text-decoration: none;
}