@charset "UTF-8";

html {
	background-image: url("../image/city.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	margin: auto;
	width: 1080px;
}

main {
	margin: 10px 0 0 0;
	padding: 5px 5px 10px 5px;
	background: rgba(0, 0, 0, 0.9);
}

.glass {
	height: 500px;
}

.add-form {
	display: block;
	margin: 20px 20px 20px 20px;
	padding: 10px 0 10px 15px;
	border: solid 1px #ffd662;
	color: gray;
}

.add-form input[type=text] {
	width: 400px;
}

.remove-form {
	display: none;
}

.remove-button {
	float: right;
	background-image: url("../image/recycle_bin.png");
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	border: none;
	height: 20px;
	width: 20px;
	cursor: pointer;
	transition: 0.1s;
}

.remove-button:hover {
	box-shadow: 0px 0px 50px 2px red;
	background-color: rgba(255, 0, 0, 0.3);
}

.cancel-background{
  background-image: url("../image/cancel.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.confirm-background{
  background-image: url("../image/confirm.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.hidden{
  display: none;
}

.name-editing{
  border: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  outline: none;
}

.edit-button{
  border: none;
  background: none;
  color: #ffd662;
  outline: none;
}
.edit-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.check-box-basic{
	height: 15px;
	width: 15px;
	outline: none;
	color: #ffd662;
	background-color: #6b5b95;
}

.page_choice{
	text-align: center;
	margin: 10px 0 0 0;
	padding: 5px;
}

.page_choice div{
	display: inline-block;
}

.page_choice a{
  display: inline-block;
  width: 15px;
  text-decoration: none;
  color: #ffd662;
}

.page_choice .current_page{
	color: gray;
	cursor: default;
}
