@charset "UTF-8";

.messages-container {
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	z-index: 1;
}

.message {
	background-position: 5px 5px;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-color: rgba(50, 63, 71, 0.6);
	height: 40px;
	padding: 0 0 0 45px;
	border: solid 2px #284253;
	margin: 5px 0 5px 0;
	transition: 0.4s;
}

.message div {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.info {
	background-image: url("../image/success_icon.png");
	color: #bde783;
}

.warning {
	background-image: url("../image/warning_icon.png");
	color: #ffe079;
}

.error {
	background-image: url("../image/error_icon.png");
	color: #eb6653;
}