@charset "UTF-8";

.post {
	border: solid 1px #ffd662;
	margin: 5px;
	padding: 10px;
}

.post:after {
	display: block;
	clear: both;
	content: "";
}

.post-user-img {
	border-radius: 50%;
	height: 70px;
	width: 70px;
}

.post-user-part {
	text-align: center;
	float: left;
	width: 130px;
	border-right : solid 1px #ffd662;
	padding: 0px 10px 0 0;
}

.post-user-part div {
	color: #ffd662;
	margin: 10px 5px 0 5px;
}

.post-content-part {
	float: left;
	color: gray;
	padding: 0 0 0 20px;
	max-width: 830px;
}

.post-content-part p {
	text-indent: 20px;
}

.post-content-part:after {
	display: block;
	clear: both;
	content: "";
}

.post-statistic {
	color: gray;
	float: right;
	clear: both;
	margin: 10px 30px 5px 0;
}

.post-add{
  margin: 20px 0 0 0;
  color: 	#ffd662;
}

.post-textarea{
	height: 200px;
	min-height: 200px;
	width: 750px;
	max-width: 650px;
	min-width: 850px;
	color: gray;
	background-color: transparent;
	outline: none;
	padding: 5px;
	text-indent: 20px;
	border: 1px solid #6b5b95;
}
