@charset "UTF-8";

.section {
	height: 50px;
	margin: 10px 20px 0 20px;
	padding: 10px;
	border: solid 1px #6b5b95;
}
.pinned-sections-block{
	margin: 0 0 40px 0;
	padding: 5px 0 20px 0;
	color: gray;
	border-bottom: solid 1px #6b5b95;
}
.name {
	float: left;
	width: 500px;
}

.name a {
	text-decoration: none;
	color: gray;
	font-size: 13pt;
}

.name a:hover{
  text-decoration: underline;	
}

.creation-time {
	color: gray;
	font-size: 13pt;
	float: left;
}

.private {
	opacity: 0.7;
}

.pinned {
	border: solid 2px #6348a8;
}

.update-form {
	display: block;
	clear: both;
	padding: 5px 50px 0 0;
	text-align: right;
	height: 34px;
}

.name-edit-input{
	height: 15px;
	width: 250px;
}
