@charset "UTF-8";

.section-name-in-topics-list{
	color: #ffd662;
	margin: 10px 0 10px 30px;
}

.topic {
  margin: 10px 20px 0 20px;
  padding: 10px;
  border: solid 1px #6b5b95;
}

.name{
  float: left;
  margin: 5px;
}

.name a {
  text-decoration: none;
  color: gray;
  font-size: 13pt;
}

.name a:hover{
  text-decoration: underline; 
}

.under-name{
	clear: both;
	color: gray;
	margin: 5px 0 5px 20px;
}

.under-name span{
	margin: 0 0 0 50px;
}

.topic-modification-pannel{
	margin: 0 40px 0 0;
  text-align: right;
  height: 30px;	
}

.section-select{
	width: 200px;

}

.select-option-enabled{
	background-image: url("../image/recycle_bin.png");
	background-position: 0 0;
}

.select-option-disabled{
	opacity: 0.5;
}