@charset "UTF-8";

.user-page-block{
  	margin: 5px 0 0 0;
}

.user-page-block>div{
	float: left;
}

.user-page-block:after{
	display: block;;
	clear: both;
	content: "";
}

.user-page-profile-photo{
	width: 200px;
	border-right: solid 1px #ffd662;
	text-align: center;
}

.user-page-profile-photo img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.user-page-main-info{
	margin: 5px 0 0 30px;
	padding: 5px;
	color: #ffd662;
}

.info-block{
	margin: 5px;
}

.info-block-title{
	color: gray;
}